high-sessions-n8n-workflow.json
{
  "name": "Create Event",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "create-event",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": "public",
        "table": "events",
        "columns": "name,description,date,location",
        "additionalFields": {}
      },
      "name": "Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        650,
        300
      ],
      "credentials": {
        "supabaseApi": {
          "id": "1",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "subject": "Novo evento criado: {{$node[\"Webhook\"].json[\"body\"][\"name\"]}}",
        "receivers": "admin@highsessions.com",
        "content": "Um novo evento foi criado:\n\nNome: {{$node[\"Webhook\"].json[\"body\"][\"name\"]}}\nData: {{$node[\"Webhook\"].json[\"body\"][\"date\"]}}\nLocal: {{$node[\"Webhook\"].json[\"body\"][\"location\"]}}"
      },
      "name": "Send Email",
      "type": "n8n-nodes-base.sendEmail",
      "typeVersion": 1,
      "position": [
        850,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
